<div class="jumbotron">
  <h2>Making shopping for tires, way too easy...</h2>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"> --><br>
    1 search = finding the best deal on the entire internet. Guaranteed.
  </p>

  <div class="row">
    <div class="col-sm-4">
      <select class="form-control">
        <option value="">Year</option>
        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
      </select>
    </div>
    <div class="col-sm-4">
      <select class="form-control col-md-4">
        <option value="">Make</option>
      </select>
    </div>
    <div class="col-sm-4">
      <select class="form-control col-md-4">
        <option value="">Model</option>
      </select>
    </div>
  </div>
  <br />

  <p><a class="btn btn-lg btn-success" ng-href="#/">Let's Go <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Why TireLlama.com?</h4>
  <p>
    While purchasing tires a few months back, I had way too difficult of a time finding the best priced tires. First,
    I had no ides... HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web
    apps or sites.
  </p>

  <h4>How does it work?</h4>
  <p>
    Most sites let you find the right tire size for your vehicle, but most sites often leave the surprises for checkout.
    What I have done is create a surprise free, unbelievably convenient way to shop for tires. Instead of going site
    to site typing in all of your details and trying to calculate the prices, I created a tool that does all the work
    for you automatically. I like to code. It's nerdy, but it saves you money :)
  </p>

  <h4>I have a suggestion!</h4>
  <p>
    TIRELLAMA is in it's open stages and it's just me working on this project. I'd appreciate any suggestions that you
    might have. Email kyle@tirellama.com and let me know if you're having any issues using the site or if there's
    something that would make your life easier when shopping for tires. Please let me know as I want to hear from you!
  </p>
</div>
